.tableHead {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 77px;
  border-bottom: 1px solid #cdcfd2;
}

.inputWrapper {
  margin: auto 0 0 0;
}

.checkInput {
  cursor: pointer;
}

.label {
  cursor: pointer;
  font-weight: 400;
  color: #0d5adc;
  margin-left: 14px;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
}

.img {
  max-width: 65px;
  margin: 0 auto;
}

.name {
  text-align: center;
}
