.wrapper {
  display: flex;
  position: relative;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
}

.img {
  max-width: 100px;
  margin: 0 auto;
  height: 100px;
  width: auto;
  margin-bottom: 8px;
}

.imgWrapper {
  display: flex;
  justify-content: flex-end;
}

.name {
  text-align: center;
  padding: 0 5px;
}

.openPopupBtn {
  cursor: pointer;
  align-self: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
