.header {
  padding: 42px 0;
  margin-bottom: 60px;
  border-bottom: 1px solid #a6a5a9;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}

.mainLink {
  color: #0d5adc;
  font-weight: 900;
  cursor: pointer;
}

.navMenu {
  display: flex;
  gap: 48px;
  list-style: none;
  font-size: 12px;
  padding: 2px 0;
}

.navMenu__link {
  cursor: pointer;
}

.profileLink {
  display: flex;
  & a:nth-child(2) {
    margin-left: 20px;
    position: relative;
    top: -4px;
  }
}
