@use 'styles/variables.scss' as *;

.nav {
  border-bottom: 1px solid #a6a5a9;
  padding: 12px 0;
}

.list {
  display: flex;
}

.item {
  margin-right: 15px;
  cursor: pointer;
  transition: all ease 0.5;
  color: $blue-color;
  &:hover {
    opacity: 0.8;
  }
}

.active {
  opacity: 0.8;
}
