.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #828286;
}

.select {
  color: #0d5adc;
  font-weight: 400;
}
